<%- include('headerAdmin') %>

<div class="propBackground">

    <h1 style="font-size: 50px; text-align: center;">Welcome to Vacay!</h1>
    <h2 style="font-size: 30px; margin-top: 0%; text-align: center; margin-bottom:50px">Our Respected Admin</h2>
    <h1 style="font-size: 50px; text-align: center;">What Would You Like To Do Today?</h1>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card navigation-card" onclick="location.href='/profileHost'">
                    <img src="uploads\host\profile.png" class="card-img-top" alt="Image description">
                    <div class="card-body">
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">Verify users profiles.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card navigation-card" onclick="location.href='/propertylist'">
                    <img src="uploads\host\refund.png" class="card-img-top" alt="Image description">
                    <div class="card-body">
                        <h5 class="card-title">Refund</h5>
                        <p class="card-text">View and manage refund requests.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>
