<%- include('headerHost', { pageTitle: 'Welcome | Vacay' }) %>

<div class="propBackground">
    <!--h3 class="p-2">Welcome to Vacay, Host.</h3-->

        <!-- Display only for hosts -->
        <!--h3 class="p-2" style="text-align: center;">Welcome to Vacay</h3>-->

        <h1 style="font-size: 50px; text-align: center;">Book Unique Homes All Over Malaysia.</h1>
        <h2 style="font-size: 30px; margin-top: 0%; text-align: center;">Faster, Easier, Reliable</h2>

    

</div>

<%- include('footer') %>