<%- include('headerHost', { pageTitle: 'Welcome | Vacay' }) %>


<div class="propBackground">

    <h1 style="font-size: 50px; text-align: center;">Welcome to Vacay!</h1>
    <h2 style="font-size: 30px; margin-top: 0%; text-align: center; margin-bottom:50px">Our Respected Host</h2>
    <div style="width:100%; background-color: white; padding-top: 20px;padding-bottom: 20px; box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);">
        <h1 style="font-size: 50px; text-align: center;">List All of Your Unique Homes From All Over Malaysia.</h1>
        <h2 style="font-size: 30px; margin-top: 0%; text-align: center;">Faster, Easier, Reliable</h2>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card navigation-card" onclick="location.href='/profileHost'">
                    <img src="uploads\host\profile.png" class="card-img-top" alt="Image description">
                    <div class="card-body">
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">Manage your profile settings.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card navigation-card" onclick="location.href='/settlerefund'">
                    <img src="uploads\host\refund.png" class="card-img-top" alt="Image description">
                    <div class="card-body">
                        <h5 class="card-title">Refund</h5>
                        <p class="card-text">View and manage your refund requests.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card navigation-card" onclick="location.href='/propertylist'">
                    <img src="uploads\host\property.png" class="card-img-top" alt="Image description">
                    <div class="card-body">
                        <h5 class="card-title">Property Listing</h5>
                        <p class="card-text">View and manage your property listings.</p>
                    </div>
                </div>
            </div>
            <!-- Add more cards for Report, Rating & Feedback, Logout as needed -->
            <div class="col-md-4">
                <div class="card navigation-card" onclick="location.href='/financialReport'">
                    <img src="uploads\host\report.png" class="card-img-top" alt="Image description">
                    <div class="card-body">
                        <h5 class="card-title">Financial Report</h5>
                        <p class="card-text">The progress of your properties.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card navigation-card" onclick="location.href='/propertyRatings'">
                    <img src="uploads\host\rating.png" class="card-img-top" alt="Image description">
                    <div class="card-body">
                        <h5 class="card-title">Rating & Feedback</h5>
                        <p class="card-text">View and manage your property listings.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>