<%- include('header', { pageTitle: 'Refund Status | Vacay' }) %>

<div class="container mt-5 mb-5">
    <div class="alert alert-info" role="alert" style="background-color: #7a4b7f; color:white; border-radius: 20px;">
        <h4 class="alert-heading">Refund Request Already Submitted</h4>
        <p><%= message %></p>
        <hr>
        <p class="mb-0">Please check your refund status via Refund Page.</p>
        <p class="mb-0">Your refund request will be processes in 14 working days.</p>
        <p class="mb-0">Thank you and a nice day!</p>
    </div>
</div>

<%- include('footer') %>
