<%- include('headerHost', { pageTitle: 'Host Settings | Vacay' }) %>

<div class="profileBackground d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
        <div class="profile-pic-container mb-3">
            <img src="<%= profilePic %>" alt="user pic" style="width: 150px; height: 150px; border-radius: 50%;">
        </div>
        
        <!-- Guest Name -->
        <h1 style="font-size: 50px;"><%= profileName %></h1>
        <form action="/hostView" method="GET">
            <button class="settingBtn">Home</button>
        </form>
        <form action="/profileHost" method="GET">
            <button class="settingBtn">Profile</button>
        </form>
        <form action="/propertylist" method="GET">
            <button class="settingBtn">Property Listing</button>
        </form>
        <form action="/settlerefund" method="GET">
            <button class="settingBtn">Refund</button>
        </form>
        <form action="/financialReport" method="GET">
            <button class="settingBtn">Financial Report</button>
        </form>
        <form action="/propertyRatings" method="GET">
            <button class="settingBtn">Rating & Feedback</button>
        </form>
        <form action="/logout" method="GET">
            <button class="settingBtn">Logout</button>
        </form>
    </div>
</div>

<%- include('footer') %>