<%- include('headerHost', { pageTitle: 'Host Settings | Vacay' }) %>

<div class="profileBackground d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column">
        <form action="/hostView" method="GET">
            <button class="settingBtn">Home</button>
        </form>
        <form action="/profileHost" method="GET">
            <button class="settingBtn">Profile</button>
        </form>
        <form action="/propertylist" method="GET">
            <button class="settingBtn">Property Listing</button>
        </form>
        <form action="" method="GET">
            <button class="settingBtn">Report</button>
        </form>
        <form action="" method="GET">
            <button class="settingBtn">Rating & Feedback</button>
        </form>
        <form action="/logout" method="GET">
            <button class="settingBtn">Logout</button>
        </form>
    </div>
</div>

<%- include('footer') %>