<%- include('header', { pageTitle: 'Guest Settings | Vacay' }) %>

<div class="profileBackground d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
        <!-- Guest Profile Picture -->
        <div class="profile-pic-container mb-3">
            <img src="<%= profilePic %>" alt="user pic" style="width: 150px; height: 150px; border-radius: 50%;">
        </div>
        
        <!-- Guest Name -->
        <h1 style="font-size: 50px;"><%= profileName %></h1>

        <!-- Settings Options -->
        <form action="/guestView" method="GET">
            <button class="settingBtn">Home</button>
        </form>
        <form action="/profileGuest" method="GET">
            <button class="settingBtn">Profile</button>
        </form>
        <form action="/bookHistory" method="GET">
            <button class="settingBtn">Booking History</button>
        </form>
        <form action="/refundListGuest" method="GET">
            <button class="settingBtn">Refund</button>
        </form>
        <form action="/logout" method="GET">
            <button class="settingBtn">Logout</button>
        </form>
    </div>
</div>

<%- include('footer') %>
